body {
    display: flex;
    width: auto;
    height: 56.25rem;
   overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    padding: 0px 474px;
    gap: 0.3px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../image/image.png/BackGdBody1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  /*overflow-x: hidden;*/
  /**************АВТОРИЗАЦИЯ***********/
  .authorization {
    /* Section */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 35px;
gap: 35px;
isolation: isolate;

width: 480px;
height: 294px;

background: rgba(234, 233, 235, 0.95);

  }
  
  .authorization-title {
    /* Header */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    width: 480px;
    height: 57px;
    background: #63536c;
  }
  
  h1 {
    /* Авторизация */
  
    width: 161px;
    max-width: 272px;
    height: 25px;
    max-height: 25.3px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .authorization-form {
    /* Form */
    display: flex;
    width: 480px;
    height: 167px;
    position: relative;
  }
  
  .form-mail {
    /* Label */
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1.6px;
  
    position: absolute;
    width: 272px;
    height: 52px;
    left: calc(50% - 272px / 2);
    top: -1px;
  }
  
  .authorization-input-email {
    /* Input */
  
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8.8px 9px;
    height: 36px;
    width: 272px;
    background: #ffffff;
    border: 1px solid #b7b7b7;
  }
  
  .form-password {
    /* Label */
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1.6px;
  
    position: absolute;
    height: 52px;
    left: 104px;
    right: 104px;
    top: 58px;
  }
  
  .authorization-input-password {
    /* Input */
  
    box-sizing: border-box;
    width: 272px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #b7b7b7;
  }
  
  .authorization-button {
    /* text-center */
  
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px 41.26px 0px 41.26px;
  
    position: absolute;
    height: 57px;
    left: 0px;
    right: 0px;
    top: 110px;
  }
  
  .authorization-btn {
    /* Input */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 11.2px 31.5478px 11.9px 31.9322px;
  
    width: 189px;
    height: 40px;
  
    background: #16a6af;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24), 0px 0px 3px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  
  .authorization-btn-text {
    /* Авторизоваться */
  
    width: 126px;
    height: 16px;
  
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.2s all;
  }
  
  .authorization-btn-text:active {
    transform: scale(0.8);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }
  /**********END AUTHORIZaTION*************/
  .header {
/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 35px 42px 35px 104px;

width: 972px;
height: 120px;

  }
  
  .header-logo {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    min-width: 320px;
    min-height: auto;
    left: 100px;
    top: 50%;
  }
  
  .logo-go-cinema {
    align-items: flex-start;
    padding: 0px;
    width: 212px;
    height: 39px;
  }
  
  .logo-admin {
    /* Администраторррская */
    width: 216px;
    max-width: 826px;
    height: 12px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
  }
  